<div class="row" >

  <div class="container" style="margin: auto;" >

    <nav class="page-breadcrumb" style="text-align: right;">
        <h4 class="card-title" style="text-align: left;">Match & Session Plus Minus Report:{{id}}</h4>

        <ol class="breadcrumb justify-content-end">
            <li class="breadcrumb-item"><a routerLink="/master-agent">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Match & Session Plus Minus Report</li>
        </ol>
    </nav>
    <div class="col-md-12 col-sm-12 stretch-card">
      <div class="card">

        <div class="card-header" style="font-weight: bold;color: gray;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: medium;">
          <h4 >MasterAgent OF : ENGLAND V NEW ZEALAND
            <button type="button" class="btn btn-success" style="margin: 5px;" >All
              Show
            </button>
          </h4>
        </div>
        <div class="card-body">
          <div class="row">
          <div class="table-responsive col-md-8 col-sm-12">
        <table class="table table-bordered table-hover ">
          <thead>
          <tr>
              <th><input type="checkbox"></th>
            <th>SESSION (POST DATE)</th>
            <th>DECLARE</th>


            </tr>
          </thead>
          <tbody>

          <!-- <tr *ngFor="let row of teamDetails">

            <td>{{ row.Team }}</td>
            <td>{{ row.Khai }}</td>

            </tr> -->
          </tbody>
          <tfoot>
          <tr>
            <th></th>
            <th></th>

          </tr>
          </tfoot>
        </table>
    </div>
    <div class="table-responsive col-md-4 col-sm-12">
      <table class="table table-bordered table-hover ">
        <thead>
        <tr>
            <th><input type="checkbox"></th>
          <th>Master Agent (CODE NAME)</th>


          </tr>
        </thead>
        <tbody>

        <!-- <tr *ngFor="let row of teamDetails">

          <td>{{ row.Team }}</td>
          <td>{{ row.Khai }}</td>

          </tr> -->
        </tbody>
        <tfoot>
        <tr>
          <th></th>
          <th></th>

        </tr>
        </tfoot>
      </table>
  </div>

          </div>

        </div>
        <div class="card-footer">
          <div class="right">

        </div>
      </div>
    </div>
  </div>

    </div>
    </div>
