<div class="row" >

  <div class="container" style="margin: auto;" >

    <nav class="page-breadcrumb" style="text-align: right;">
        <h4 class="card-title" style="text-align: left;">Games</h4>

        <ol class="breadcrumb justify-content-end">
            <li class="breadcrumb-item"><a routerLink="/master-agent">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Complete Game</li>
        </ol>
    </nav>

    <div class="col-md-12 stretch-card">
      <div class="card">

        <div class="card-header">


          <h1 class="card-title">Sport Details</h1>

        </div>
        <div class="card-body">
          <div class="table-responsive">
            <!-- id="dataTableExample" -->
            <table class="table table-bordered table-hover ">
              <thead>
              <tr>
                <th>#</th>
                <th>SNo</th>
                <th>Code</th>
                <th>Name</th>
                <th>Date Time</th>
                <th>Match Type</th>
                <th>Declare</th>
                <th>Won By</th>
                <th>Plus Minus</th>

                </tr>
              </thead>
              <tbody>

              <tr *ngFor="let sport of sportDetails;index as i">
                <!-- *ngFor="let row of data?.data?.content;index as i" -->
                <td>
                  <div class="dropdown">
                    <div ngbDropdown>
                      <button class="btn btn-link btn-sm" id="dropdownButtonLg" ngbDropdownToggle style="background-color: burlywood;"></button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="matchSessionPosition(1)">Match & Session Plus Minus</button>
                        <button ngbDropdownItem (click)="displayMatchAndSessionBets(1)">Display Match & Session Bets</button>
                        <button ngbDropdownItem (click)="displayMatchBets(1)">Display Match Bets</button>
                        <button ngbDropdownItem (click)="displaySessionBets(1)">Display Session Bets</button>
                        <!-- <button ngbDropdownItem (click)="sessionPlusMinus(1)">Session Plus Minus</button> -->

                      </div>
                    </div></div>
                </td>
                <td>{{ sport.SNo }}</td>
                <td>{{ sport.code }}</td>
                <td>{{ sport.name }}</td>
                <td>{{ sport.dateTime }}</td>
                <td>{{ sport.matchType }}</td>
                <td>{{ sport.declare }}</td>
                <td>{{ sport.wonBy }}</td>
                <td>{{ sport.plusMinus }}</td>


                </tr>
              </tbody>
              <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

              </tr>
              </tfoot>
            </table>
          </div>

        </div>
        <div class="card-footer">
          <div class="right">
            <!-- <ngb-pagination [collectionSize]="data?.data.totalElements" [pageSize]="data?.data.size"
                            [page]="(data?.data.number+1)" [maxSize]="data?.data.totalPages" [rotate]="true"
                            (pageChange)="loadMasterData($event)" [boundaryLinks]="false"></ngb-pagination>
          </div>'' -->
        </div>
      </div>
    </div>
  </div>
