<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(https://via.placeholder.com/219x452)' }">

          </div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="nobleui-logo d-block mb-2">Noble<span>UI</span></a>
            <h5 class="text-muted fw-normal mb-4">Welcome back! Log in to your account.</h5>
            <ngb-alert [dismissible]="false" [type]="'fill-danger'" *ngIf="validationError == true" >
              Invalid Usename or Passaword
            </ngb-alert>
            <form class="forms-sample" [formGroup]="loginForm" (ngSubmit)="onLoggedin($event)">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="text" class="form-control" id="exampleInputEmail1" formControlName="code" placeholder="Email">
                <div *ngIf="serverErrors?.code && serverErrors != null" class="server-error" style="color: red;">
                  {{ serverErrors?.code }}
                </div>
                <!-- <div *ngIf="loginForm.controls.email.hasError('required')" class="error-message">Email is required</div>
                <div *ngIf="loginForm.controls.email.hasError('email')" class="error-message">Please enter a valid email</div> -->

              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" autocomplete="current-password" placeholder="Password">
                <div *ngIf="serverErrors?.password && serverErrors != null" class="server-error" style="color: red;">
                  {{ serverErrors?.password }}
                </div>
              </div>
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="authCheck">
                <label class="form-check-label" for="authCheck">
                  Remember me
                </label>
              </div>
              <div>

                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" >Login</button>
                <button type="button" class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0">
                  <i class="feather icon-twitter btn-icon-prepend"></i>
                  Login with twitter
                </button>
              </div>
              <a routerLink="/auth/register" class="d-block mt-3 text-muted">Not a user? Sign up</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
